<h1><%= @convo.topic %></h1>
<% if can_edit?(@convo) %>
  <form action="/conversations/<%= "#{@convo.id}/edit"%>" method="get">
    <input type="submit" value="Edit Topic">
  </form>
<% end %>
<br><hr>
<% @convo.posts.each do |post| %>
  <br><br>
  Post # <%= post.id %>
  <% if !!post.user %>
    <a href="/users/<%= post.user.slug %>"><%= post.user.username %></a>
  <% else %>
    Deleted User
  <% end %>
     replied at <%= post.created_at %>:<br><br>
  <strong><%= post.content.gsub(/\n/, "<br>") %></strong><br><br>
  <% if logged_in? && (current_user == post.user || current_user.moderator) && !current_user.banned %>
    <a href="/posts/<%= "#{post.id}/edit" %>">Edit Post</a>
    <a href="/posts/<%= "#{post.id}/delete" %>">Delete Post</a>
  <% end %><br><hr>
<% end %><br>
<% if logged_in? && !current_user.banned %>
<textarea name="post[content]" rows="8" cols="40" form="reply"></textarea>
<form action="/conversations/<%= "#{@convo.id}/posts" %>" method="post" id="reply">
  <input type="submit" value="Reply">
</form><br><br>
<% end %>
<% if can_edit?(@convo) %>
  <form action="/conversations/<%= "#{@convo.id}" %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Conversation">
  </form>
<% end %><br><hr>
