<h1>Edit Profile:</h1>
<h2><%= @user.username %></h2><br>
<form action="/users/<%= "#{@user.slug}" %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="email" value="<%= "#{@user.email}" %>"><br><br>
  <label for="email">Age:</label>
  <input type="text" name="user[age]" id="age" value="<%= "#{@user.age}" %>"><br><br>
  <label for="email">Location:</label>
  <input type="text" name="user[location]" id="location" value="<%= "#{@user.location}" %>"><br><br>
  <label for="image_url">Profile Picture:</label>
  <input type="text" name="user[image_url]" id="image_url" value="<%= "#{@user.image_url}" %>"><br><br>
  <input type="submit" value="Update User">
</form><br>
<<<<<<< HEAD
<form action="/users/<%= "#{@user.slug}" %>/delete" method="post">
=======
<form action="/users/<%= "#{current_user.slug}" %>" method="post">
>>>>>>> e45cd1678789905e41605b97424c5937413d2a31
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete User">
</form>
