<h1><%= "#{@user.username.capitalize}" %>'s profile:</h1>
<p>
  <br>
  Username: <%= "#{@user.username}" %><br><br>
  Email Address: <%= "#{@user.email}" %><br><br>
  <% if @user.age %>
    Age: <%= "#{@user.age}" %><br><br>
  <% end %>
  <% if @user.location %>
    Location: <%= "#{@user.location}" %><br>
  <% end %>
  <% if current_user == @user || current_user.moderator %>
    <form class="" action="/users/<%= "#{current_user.slug}/edit"%>" method="get">
      <input type="submit" value="Edit">
    </form>
  <% end %>
  <br>
  <% if current_user.moderator %>
    <% if current_user.banned %>
      <form class="" action="/users/<%= "#{current_user.slug}/unban"%>" method="post">
        <input type="submit" value="Unban">
      </form>
    <% else %>
      <form class="" action="/users/<%= "#{current_user.slug}/ban"%>" method="post">
        <input type="submit" value="Ban">
      </form>
    <% end %>
  <% end %>
</p>
