<h1><%= "#{@user.username.capitalize}" %>'s profile:</h1>
<img class="profile_pic" src="<%= "#{@user.image_url}" %>"/>
<div class="profile_info">
  <p>
    <strong>Username:</strong> <%= "#{@user.username}" %><br><br>
    <strong>Email Address:</strong> <%= "#{@user.email}" %><br><br>
    <% if @user.age %>
      <strong>Age:</strong> <%= "#{@user.age}" %><br><br>
    <% end %>
    <% if @user.location %>
      <strong>Location:</strong> <%= "#{@user.location}" %><br>
    <% end %><br>
    <strong>Conversations:</strong> <%= "#{@user.conversations.all.size}" %><br><br>
    <strong>Posts:</strong> <%= "#{@user.posts.all.size}" %>
    <br>
  </p>
</div>
<% if logged_in? %>
  <div class="profile_buttons">
    <% if current_user == @user || current_user.moderator %>
      <form class="profile_buttons" action="/users/<%= "#{@user.slug}/edit"%>" method="get">
        <input type="submit" value="Edit">
      </form>
    <% end %>
  </div>
  <div class="profile_buttons">
    <% if current_user.moderator && current_user != @user %>
      <form class="profile_buttons" action="/users/<%= "#{@user.slug}/ban"%>" method="post">
        <input type="submit" value="<%= @user.ban_button %>">
      </form>
    <% end %>
  </div>
  <div class="profile_buttons">
    <% if current_user.admin && current_user != @user && !@user.banned %>
      <% if @user.moderator %>
        <form class="profile_buttons" action="/users/<%= "#{@user.slug}/moderator"%>" method="post">
          <input type="submit" value="Revoke Moderator Privilages">
        </form>
      <% else %>
        <form class="profile_buttons" action="/users/<%= "#{@user.slug}/moderator"%>" method="post">
          <input type="submit" value="Make Moderator">
        </form>
      <% end %>
    <% end %>
  </div>
<% end %>
