<h1>Welcome to Freddit!</h1>
<br>
<h2>Join a conversation or start a <a href="/conversations/new">new one</a>:</h2><br>
<% Conversation.sort_by_last_edited.first(10).each do |convo| %>
<h3><a href="/conversations/<%="#{convo.id}" %>"><%="#{convo.topic}" %></a></h3>
<p>Started at <%="#{convo.created_at}" %> by
  <% if convo.user %>
    <a href="/users/<%="#{convo.user.slug}" %>"><%="#{convo.user.username}" %></a>
  <% else %>
    Deleted User
  <% end %> <br>
  <% if convo.posts.size > 1 %>
    Last updated: <%="#{convo.posts.last.updated_at}" %> by <a href="/users/<%= "#{convo.posts.last.user.slug}" %> "><%= "#{convo.posts.last.user.username}" %></a>
  <% end %>

</p>
<br>
<% end %>

<h3><a href="/conversations">See more conversations:</a></h3>
